/* Main Tags */

* {
  outline: none;
}

html {
  background: #0e131c;
  color: #fff;
  height: 100%;
}

body {
  background: #161d2a;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  color: #fff;
  height: 100%;
  margin: 0 auto;
  width: 1100px;
}

a:link,
a:visited {
  color: #4A618F;
  text-decoration: none;
}

a:hover {
  color: #fff !important;
  text-decoration: none;
}

button,
input[type='button'],
input[type='submit']
{
  background: #4A618F;
  background: -moz-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  border: 2px solid #000;
  border-radius: 6px;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover
{
  background: #4A618F;
  background: -moz-linear-gradient(top, #555 0%, #333 100%, #333 100%);
  background: -webkit-linear-gradient(top, #555 0%, #333 100%, #333 100%);
  background: linear-gradient(to bottom, #555 0%, #333 100%, #333 100%);
}

input[type='text'],
input[type='password'] {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 3px;
}

select {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 6px;
}

option {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  padding: 3px;
}

textarea {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 6px;
  margin-bottom: 5px;
  outline: none;
  padding: 3px;
  text-align: center;
}

hr {
  border: 1px solid #4A618F;
  margin: 0px 0px 0px -1px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
  list-style-type: none;
  width: 25%;
}

table.standard
{
	background: #4A618F;
	border-color: #4A618F;
	border-radius: 6px;
	margin-left: 5px;
	width: 304px;
	display: table;
  border-collapse: separate;
  border-spacing: 2px;
}
table.standard thead
{
	background: #4A618F;
  background: -moz-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
	border-color: #4A618F !important;
}
table.standard thead tr
{
	border-color: #4A618F !important;
}
table.standard thead tr th
{
	border-color: #4A618F !important;
  padding: 3px;
  text-align: center;
}
table.standard thead tr th:nth-child(1)
{
	border-top-left-radius: 6px;
}
table.standard thead tr th:nth-child(4)
{
	border-top-right-radius: 6px;
}
			
table.standard tr td
{
	background: #253147;
	padding: 2px;
	text-align: center;
}

table.standard tr:first-child td:first-child
{
  border-top-left-radius: 6px;
}

table.standard tr:first-child td:last-child
{
  border-top-right-radius: 6px;
}

table.standard tr:last-child td:first-child
{
  border-bottom-left-radius: 6px;
}

table.standard tr:last-child td:last-child
{
  border-bottom-right-radius: 6px;
}

::-webkit-input-placeholder {
  color: #4A618F;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2c3a55;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #161d2a;
}

::-webkit-scrollbar-track {
  background: #4A618F;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #4A618F;
}

::-webkit-scrollbar-track:active {
  background: #2c3a55;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.7);
}


/* Banner */

.banner { background: url('https://i.imgur.com/dh0dQzc.png'); background-size: 1100px 140px; border-bottom: 2px solid #4A618F; height: 132px; padding: 4px 10px; }
.banner .user .avatar { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 50%; height: 122px; margin-left: 15px; padding: 2px; width: 122px; }
.banner .user .avatar div { background: #253147; border-radius: 50%; height: 118px; width: 118px; }
.banner .user .avatar div img { background: #253147; border-radius: 50%; height: 118px; width: 118px; }
.banner .user .username { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 6px; margin-left: 5px; margin-top: -30px; padding: 2px; position: absolute; width: 140px; }
.banner .user .username div { background: #253147; border-radius: 6px; padding: 3px 5px; text-align: center; width: 135px; }
.banner .stats .stat { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 6px; padding: 2px; position: absolute; width: 140px; }
.banner .stats .stat div { background: #253147; border-radius: 6px; padding: 3px 5px; text-align: center; width: 135px; }
.banner .stats .stat:nth-child(1) { margin-left: 150px; margin-top: -120px; }
.banner .stats .stat:nth-child(2) { margin-left: 300px; margin-top: -120px; }
.banner .roster .slot { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 50%; height: 40px; padding: 2px; position: absolute; width: 40px; }
.banner .roster .slot div { background: #253147; border-radius: 50%; height: 36px; padding: 3px 0px 0px 0px; width: 36px; }
.banner .roster .slot div:hover { background: #3b4d72; cursor: pointer; }
.banner .roster .slot img { border-radius: 50%; margin-left: -2px; }
.banner .roster .slot:nth-child(1) { margin-left: 150px; margin-top: -85px; }
.banner .roster .slot:nth-child(2) { margin-left: 200px; margin-top: -85px; }
.banner .roster .slot:nth-child(3) { margin-left: 250px; margin-top: -85px; }
.banner .roster .slot:nth-child(4) { margin-left: 300px; margin-top: -85px; }
.banner .roster .slot:nth-child(5) { margin-left: 350px; margin-top: -85px; }
.banner .roster .slot:nth-child(6) { margin-left: 400px; margin-top: -85px; }


/* Userbar */

.userbar {
  background: #161d2ab4;
  border-bottom: 2px solid #4A618F;
  height: 32px;
  width: 100%;
}

.userbar>.user {
  background: #253047;
  border-left: 2px solid #4A618F;
  float: right;
  text-align: center;
  width: 200px;
}

.userbar>.user>a {
  color: #5e7bb4;
  display: block;
  height: 30px;
  padding: 5px 3px 3px 3px;
  width: 198px;
}

.userbar>.user>a:hover {
  background: #2c3a55;
  cursor: pointer;
}

.userbar>.user>ul {
  list-style: none;
}

.userbar>.user>ul>li {
  float: left;
  width: calc(100% / 6);
}

.userbar>.user>ul>li:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.userbar>.user>ul>li:hover {
  background: #2c3a55;
}

.userbar>.user>ul>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

.userbar>.user>ul>.dropdown {
  display: inline-block;
  position: relative;
  z-index: 10001;
}

.userbar>.user>ul>.dropdown>.dropdown-content {
  background: #161d2a;
  border-bottom: 2px solid #4A618F;
  border-left: 2px solid #4A618F;
  border-top: 1px solid #4A618F;
  border-bottom-left-radius: 6px;
  display: none;
  margin-left: -2px;
  position: absolute;
  width: 200px;
  z-index: 10001;
}

.userbar>.user>ul>.dropdown>.dropdown-content>li {
  border: none;
  clear: both;
  width: 100%;
}

.userbar>.user>ul>.dropdown>.dropdown-content>li:not(:last-child)
{
  border-bottom: 1px solid #4A618F;
}

.userbar>.user>ul>.dropdown>.dropdown-content>li:hover {
  background: #2c3a55;
}

.userbar>.user>ul>.dropdown>.dropdown-content>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

.userbar>.user>ul>.dropdown:hover>.dropdown-content {
  display: block;
  z-index: 10001;
}

.userbar>.money {
  background: #253047;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  float: right;
  height: 30px;
  margin-right: 10px;
  padding: 5px 3px 3px 3px;
  text-align: center;
  width: 150px;
}

.userbar>.roster {
  float: right;
  margin-right: 5px;
}

.userbar>.roster>.roster_slot {
  background: #253047;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  float: left;
  margin-right: 5px;
}

.userbar>.roster>.roster_slot:hover {
  background: #2c3a55;
  cursor: pointer;
}

.userbar>.roster>.roster_slot>.roster_tooltip {
  display: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  width: 150px;
  border: 2px solid #4A618F;
  background: #161d2a;
  z-index: 10001;
  margin-left: -55px;
  text-align: center;
  font-size: 12px;
}

.userbar>.roster>.roster_slot>.roster_tooltip>img.gender {
  height: 20px;
  margin-top: 1px;
  position: absolute;
  width: 20px;
}

.userbar>.roster>.roster_slot>.roster_tooltip>img.item {
  margin-left: -15px;
  margin-top: 1px;
  position: absolute;
}

.info>div:nth-child(odd) {
  background: #4A618F;
  padding-top: 2px;
  font-weight: bold;
}

.info>div:nth-child(even) {
  padding-top: 2px;
}

/* Nav */
nav
{
  margin: 5px 5px 0px 5px;
  text-align: center;
}

nav > div.button
{
  background: #253047;
  border: 2px solid #4A618F;
  border-radius: 6px;
  float: left;
  text-align: center;
  width: 190px;
}

nav > div.button:hover
{
  background: #2c3a55;
  cursor: pointer;
}

nav > div.button > a
{
  display: block;
  padding: 5px;
}

nav > div.navigation
{
  background: #253047;
  border: 2px solid #4A618F;
  border-radius: 6px;
  float: left;
  text-align: center;
  width: calc(100% - 195px);
}

nav > div.navigation > div
{
  float: left;
  width: calc(100% / 6);
}

nav > div.navigation > div:not(:last-child)
{
  border-right: 1px solid #4A618F;
}

nav > div.navigation > ul {
  list-style: none;
}

nav > div.navigation > ul > li {
  float: left;
  width: calc(100% / 6);
}

nav > div.navigation > ul>li:not(:last-child) {
  border-right: 1px solid #4A618F;
}

nav > div.navigation > ul>li:hover {
  background: #2c3a55;
}

nav > div.navigation > ul>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

nav > div.navigation > ul>.dropdown {
  display: inline-block;
  position: relative;
  z-index: 10000;
}

nav > div.navigation > ul>.dropdown>.dropdown-content {
  background: #161d2a;
  border: 1px solid #4A618F;
  display: none;
  margin-left: -1px;
  position: absolute;
  width: calc(100% + 2px);
}

nav > div.navigation > ul>.dropdown>.dropdown-content>li:not(:last-child)
{
  border-bottom: 1px solid #4A618F;
}

nav > div.navigation > ul>.dropdown>.dropdown-content>li {
  border: none;
  clear: both;
  width: 100%;
}

nav > div.navigation > ul>.dropdown>.dropdown-content>li:hover {
  background: #2c3a55;
}

nav > div.navigation > ul>.dropdown>.dropdown-content>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

nav > div.navigation > ul>.dropdown:hover>.dropdown-content {
  display: block;
}

/* Sidebar */
.sidebar {
  float: left;
  margin: 5px;
  width: 190px;
}

.sidebar>.button {
  background: #253047;
  border: 2px solid #4A618F;
  border-radius: 6px;
  margin-bottom: 6px;
  text-align: center;
}

.sidebar>.button:hover {
  background: #2c3a55;
  cursor: pointer;
}

.sidebar>.button>a {
  display: block;
  padding: 5px;
}

.sidebar>.chat {
  background: #4A618F;
  border: 2px solid #4A618F;
  border-radius: 6px;
  float: left;
  /*margin-top: 5px;*/
  width: 190px;
}

.sidebar>.chat>.head {
  background: #4A618F;
  background: -moz-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  border-bottom: 1px solid #4A618F;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.sidebar>.chat>.box {
  background: #253047;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #4A618F;
  height: 353px;
  overflow-y: auto;
  padding: 3px;
  text-align: center;
}

.sidebar>.chat>.box>div[class^='message'] {
  border: 1px solid #4A618F;
  border-radius: 6px;
  font-size: 12px;
  padding: 2px;
}

.sidebar>.chat>.box>div[class^='message'] .username {
  border-bottom: 1px solid #4A618F;
  padding: 4px;
  text-align: left;
}

.sidebar>.chat>.box>div[class^='message'] .username a {
  font-size: 14px !important;
  font-weight: bold;
  margin-top: 2px;
}

.sidebar>.chat>.box>div[class^='message'] .username .userSprite {
  background: #4A618F;
  float: left;
  margin-left: -6px;
  margin-right: 2px;
  margin-top: -6px;
}

.sidebar>.chat>.box>div[class^='message'] .time {
  font-size: 10px;
  float: right;
  margin-top: -30px;
}

.sidebar>.chat>.box>div[class^='message']:nth-child(odd) {
  background: #1d2639;
}

.sidebar>.chat>.box>div[class^='message']:nth-child(even) {
  background: #0e131c;
}

.sidebar>.chat>.box>div[class^='message']:not(:last-child) {
  margin-bottom: 3px;
}

.sidebar>.chat>.box>div[class^='message'] div:last-child {
  word-wrap: break-word;
  padding-top: 3px;
}

.sidebar>.chat>.user_options {
  height: 309px;
  overflow-y: auto;
}

.sidebar>.chat>.user_options>.index {
  background: #2c3a55;
  border-bottom: 1px solid #4A618F;
  border-top: 1px solid #4A618F;
  padding: 3px;
  text-align: center;
}

.sidebar>.chat>.user_options>.subhead {
  border-top: 1px solid #4A618F;
  margin-top: 18px;
}

.sidebar>.chat>.subhead {
  text-align: center;
}

.sidebar>.chat>.subhead>form>input {
  background: #2c3a55;
  border: none;
  border-radius: 0px;
  height: 26px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}

/* Generic PAGE Navigation Styling */


.content .box .nav {
  margin-bottom: 5px;
  margin-top: -3px;
}

.content .box .nav div {
  background: #2c3a55;
  border: 1px solid #4A618F;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #5e7bb4;
  float: left;
  margin-right: 5px;
  padding: 5px;
  width: calc(100% / 6 - 5px);
}

.content .box .nav div:hover {
  background: #253047;
  color: #fff;
  cursor: pointer;
}


/* General 'Panel' Styling */
.panel {
  background: #4a618f;
  border: 1px solid #4A618F;
  margin-bottom: 0px;
}

.panel>.panel-heading {
  background: #4A618F;
  background: -moz-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  border-color: #4A618F;
  color: #fff;
  font-weight: bold;
  padding: 3px;
}

.panel>.panel-body {
  background: #2c3a55;
  border-radius: 4px;
  padding: 0px;
}

.panel>.panel-body>.panel-sidebar {
  float: left;
  height: 100%;
  padding: 5px;
  width: calc(100% / 4);
}

.panel>.panel-body>.panel-content {
  border-left: 1px solid #4A618F;
  float: left;
  padding: 5px;
}

.panel>.panel-body>.panel-content.half {
  width: calc(100% / 2);
}

.panel>.panel-body>.panel-content.quart {
  width: 75%;
}


/* Content */

.content {
  background: #4A618F;
  border: 2px solid #4A618F;
  border-radius: 6px;
  float: left;
  max-height: calc(100% - 185px);
  margin: 5px 5px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 890px;
}

.content>.head {
  background: #4A618F;
  background: -moz-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #6e80a5 0%, #4A618F 100%, #4A618F 100%);
  border-bottom: 1px solid #4A618F;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.content > .box {
  background: #253047;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 3px;
  text-align: center;
}

.content * .row {
  margin-left: 0px;
  margin-right: 0px;
}

.content .page_nav {
  border-bottom: 2px solid #4A618F;
  height: 30px;
  padding: 3px;
}

.content .page_nav>.pagi {
  display: block;
  margin: 0;
}

.content .page_nav>.pagi>div {
  float: left;
  padding: 1px;
}

.content .page_nav>.pagi>div:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.content .filter div div:hover {
  background: #253047;
  font-weight: bold;
}

.content .filter .p_search {
  border-bottom: 1px solid #4A618F;
  margin-top: 5px;
}

.content .filter .p_search input {
  width: 45%;
}

.content .filter .p_search select {
  padding: 4px;
  width: 45%;
}

.content .filter .p_type div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 25%;
}

.content .filter .p_type div:not(:nth-child(4n)) {
  border-right: 1px solid #4A618F;
}

.content .filter .p_type div a {
  display: block;
  padding: 3px;
}

.content .filter .p_gender div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 25%;
}

.content .filter .p_gender div:not(:nth-child(4n)) {
  border-right: 1px solid #4A618F;
}

.content .filter .p_gender div a {
  display: block;
  padding: 3px;
}

.content .filter .p_sortby div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 50%;
}

.content .filter .p_sortby div a {
  display: block;
  padding: 3px;
}

.content .filter .p_sortby div:nth-child(odd) {
  border-right: 1px solid #4A618F;
}

.content .filter .search div {
  float: left;
  width: 100%;
}

.content .filter .search div a {
  display: block;
  padding: 3px;
}

.content div.description {
  background: #2c3a55;
  border: 2px solid #4A618F;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.success {
  background: #2c3a55;
  border: 2px solid #25e845;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.notice {
  background: #2c3a55;
  border: 2px solid #fcbc19;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.error {
  background: #2c3a55;
  border: 2px solid #c90e0e;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

div.maintenance {
  background: #2c3a55;
  border: 2px solid #fcbc19;
  border-radius: 6px;
  float: right;
  margin: 5px 5px 0px 0px;
  padding: 5px;
  text-align: center;
  width: 890px;
}

div.notification {
  background: #2c3a55;
  border: 2px solid #fcbc19;
  border-radius: 6px;
  float: right;
  margin: 5px 5px 0px 0px;
  padding: 5px;
  text-align: center;
  width: 890px;
}


/**
 * Roster Styling
 */
img.spricon:hover {
  background: #4a618f80 !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

img.iconSelect {
  border: 2px solid #4A618F;
  border-radius: 6px;
  margin-bottom: 3px;
  padding: 3px;
}
img.iconSelect:hover {
  background: #3b4d72;
  cursor: pointer;
}

.content .panel .panel-body .roster_slot {
  border-right: 1px solid #4A618F;
  float: left;
  padding: 5px 0px 0px;
}

.content .panel .panel-body .roster_slot.full {
  width: calc(100% / 3);
}

.content .panel .panel-body .roster_slot.mini {
  width: calc(100% / 6);
}

.content .panel .panel-body .roster_slot .info div:nth-child(1) {
  background: #4A618F;
  font-weight: bold;
}

.content .panel .panel-body .roster_slot .info_cont {
  border: 1px solid #4A618F;
  border-bottom: none;
  border-top: none;
  border-right: none;
}
.content .panel .panel-body .roster_slot .info_cont .info {
  background: #3b4d72;
  font-weight: bold;
}

.content .panel .panel-body .roster_slot img.item {
  margin-left: -10px;
  position: absolute;
}

.content .panel .panel-body .roster_slot:nth-last-child(1) {
  border-right: none;
}

.content .panel .panel-body .roster_slot.full:nth-child(-n+3) {
  border-bottom: 1px solid #4A618F;
}

.content .panel .panel-body .roster_slot.full:nth-child(3n) {
  border-right: none;
}

.content .panel .panel-body .roster_slot .slots {
  border-bottom: 1px solid #4A618F;
  height: 22px;
}

.content .panel .panel-body .roster_slot .slots div {
  float: left;
  margin-top: -5px;
  padding: 3px;
  text-align: center;
  width: calc(100% / 7);
}

.content .panel .panel-body .roster_slot .slots div:nth-child(odd) {
  background: #253047;
}

.content .panel .panel-body .roster_slot .slots div:nth-child(even) {
  border: 1px solid #4A618F;
  border-top: none;
  border-bottom: none;
}

.content .panel .panel-body .roster_slot .slots div:hover {
  background: #3b4d72;
}

/**
 * evolution center
 */
.content .panel .panel-body .evolution {
  height: 118px;
  width: 100%;
}

.content .panel .panel-body .evolution:not(:last-child)
{
  border-bottom: 1px solid #4A618F;
}

.content .panel .panel-body .evolution .image {
  float: left;
  text-align: center;
  width: 200px;
}

.content .panel .panel-body .evolution .image:not(:last-child) div {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  border-top: 1px solid #4A618F;
  width: 200px;
}

.content .panel .panel-body .evolution .requirements {
  border-left: 1px solid #4A618F;
  border-right: 1px solid #4A618F;
  float: left;
  height: 118px;
  width: 500px;
}

.content .panel .panel-body .evolution .requirements > div:first-child {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  border-right: none;
  width: 498px;
}

.content .panel .panel-body .evolution .requirements > div:not(:first-child) {
  background: #2c3a55;
  border-bottom: none;
  border-right: 1px solid #4A618F;
  float: left;
  height: 96px;
  width: 20%;
}

#evoData > div > div.requirements > div > div:first-child,
.content .panel .panel-body .evolution .requirements div div:first-child {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  font-weight: bold;
}

#evoData > div > div.requirements > div > div:nth-child(2),
.content .panel .panel-body .evolution .requirements div div:nth-child(2) {
  border: none;
  height: 54px;
  padding-top: 5px;
  width: 98px;
}

#evoData > div > div.requirements > div > div:last-child,
.content .panel .panel-body .evolution .requirements div div:last-child {
  background: #3b4d72;
  border: none;
  border-top: 1px solid #4A618F;
  height: 22px;
  margin-top: 0px;
}

.content .panel .panel-body .evolution .button {
  float: left;
  height: 118px;
  width: 176px;
}

.content .panel .panel-body .evolution .button:hover {
  background: #3b4d72;
  cursor: pointer;
}


/* 'profile.php' */

.content .box .interactions div div:hover,
.content .box .navi div div:hover {
  background: #2c3a55;
}

.content .box.profile .interactions div div:nth-child(odd),
.content .box .navi div div:not(:nth-last-child(1)) {
  border-right: 1px solid #4A618F;
}

.content .box.profile .interactions div div:nth-child(-n+2) {
  border-bottom: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot {
  float: left;
  width: calc(100% / 3);
}

.content .box.profile #profileAJAX .roster_slot:not(:nth-child(3n)) {
  border-right: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot:nth-child(-n+3) {
  border-bottom: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot .info div:nth-child(1) {
  background: #4A618F;
  font-weight: bold;
}

.content .box .box_slot {
  padding: 3px;
  width: calc(100% / 3);
}

.content .box .box_slot:hover {
  background: #3b4d72;
  cursor: pointer;
}

.content .box .box_slot:not(:nth-child(3n)) {
  border-right: 1px solid #4A618F;
}

.content .box table.box_cont tr:nth-last-child(n+2) td:nth-last-child(n+1) {
  border-bottom: 1px solid #4A618F;
}


/* 'pokemon_center.php' */
.content .box.pokecenter .held_item {
  border: 2px solid #4A618F;
  float: left;
  margin-bottom: 5px;
  width: calc(50% - 2.5px);
}

.content .box.pokecenter .held_item:nth-child(odd) {
  margin-right: 5px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(1) {
  border-right: 2px solid #4A618F;
  padding: 0px 5px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(2) {
  border-right: 2px solid #4A618F;
  padding: 5px;
  width: 220px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(3) {
  padding: 5px;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div {
  background: #3b4d72;
  border-bottom: 2px solid #4A618F;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div:hover {
  background: #253047;
  cursor: pointer;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div:not(:nth-child(6n)) {
  border-right: 1px solid #4A618F;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont {
  float: left;
  padding: 3px;
  width: 20%;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont:hover {
  background: #253047;
  cursor: pointer;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont:not(:nth-child(5n)) {
  border-right: 1px solid #4A618F;
}


/* 'evolution_center.php' */


/* 'shop.php' */
.shop_panel > div {
  background: #253047;
  border-bottom: 1px solid #4A618f;
  color: #4A618F;
  padding: 2px;
}

.shop_panel > div:hover {
  background: #3b4d72;
  color: #fff;
  cursor: pointer;
}


/* 'trade_central.php' */


/* 'messages.php' */


/* 'map_select.php' */


/* 'staff_list.php' */


/* 'rankings.php' */

#BattleWindow { padding-top: 50px; }

#BattleWindow .roster .slot { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 50%; height: 40px; padding: 2px; position: absolute; width: 40px; }
#BattleWindow .roster .slot.active { background: #ff0000; }
#BattleWindow .roster .slot.fainted div { background: #330000; }
#BattleWindow .roster .slot div { background: #4A618F; border-radius: 50%; height: 36px; padding: 3px 0px 0px 0px; width: 36px; }
#BattleWindow .roster .slot div:hover { background: #3b4d72; cursor: pointer; }
#BattleWindow .roster .slot img { border-radius: 50%; margin-left: -2px; }
#BattleWindow .roster .slot:nth-child(1) { margin-left: 40px; margin-top: 40px; }
#BattleWindow .roster .slot:nth-child(2) { margin-left: 55px; margin-top: -10px; }
#BattleWindow .roster .slot:nth-child(3) { margin-left: 100px; margin-top: -40px; }
#BattleWindow .roster .slot:nth-child(4) { margin-left: 155px; margin-top: -40px; }
#BattleWindow .roster .slot:nth-child(5) { margin-left: 200px; margin-top: -10px; }
#BattleWindow .roster .slot:nth-child(6) { margin-left: 215px; margin-top: 40px; }

#BattleWindow .active { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 50%; height: 122px; margin: 0 auto; padding: 2px; width: 122px; }
#BattleWindow .active .sprite { background: #3b4d72; border-radius: 50%; height: 118px; width: 118px; }
#BattleWindow .active .sprite img { border-radius: 50%; height: 118px; width: 118px; }
#BattleWindow .active .name { background: linear-gradient(180deg, #8090b0 0, #334364); border-radius: 6px; margin-left: -10px; margin-top: -25px; padding: 2px; position: absolute; width: 140px; }
#BattleWindow .active .name > div { background: #3b4d72; border-radius: 6px; padding: 3px 5px; text-align: center; width: 136px; }
#BattleWindow .active .hp_bar, #BattleWindow .active .exp_bar { background: #161d2a; border: 2px solid #000; border-radius: 6px; height: 10px; margin: 0 auto; margin-left: -2px; margin-top: 2px; width: 130px; }
#BattleWindow .active .hp_bar span { background: #c90e0e; border-radius: 6px; height: 4px; margin-left: -62px; margin-top: 1px; max-width: 124px; position: absolute; }
#BattleWindow .active .exp_bar span { background: #4A618F; border-radius: 6px; height: 4px; margin-left: -62px; margin-top: 1px; max-width: 124px; position: absolute; }

#BattleWindow .battle_options { float: left; margin-top: 40px; width: 10%; }
#BattleWindow .battle_options div { background: #2c3a55; border: 2px solid #4A618F; border-radius: 50%; height: 66px; margin-bottom: 5px; }
#BattleWindow .battle_options div:hover { background: #3b4d72; cursor: pointer; }

#BattleWindow .battle_moves { background: #2c3a55; border: 2px solid #4A618F; border-radius: 6px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-top: 70px; padding: 5px; }
#BattleWindow .battle_moves input { padding: 5px; width: 150px; }

#BattleWindow #BattleStatus { background: #2c3a55; border: 2px solid #4A618F; border-top: none; border-radius: 6px; border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 5px; }


/* Pokemon Lab */
.content .box.laboratory .panel .panel-heading #refresh {
  float: right;
}

.content .box.laboratory .panel .panel-heading #refresh:hover {
  cursor: pointer;
}

.content .box.laboratory .panel .panel-body .lab-egg {
  float: left;
  padding: 3px;
  width: 20%;
}

.content .box.laboratory .panel .panel-body .lab-egg:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.content .box.laboratory .panel .panel-body .lab-egg:hover {
  background: #3b4d72;
  cursor: pointer;
}

.content .box.laboratory .panel .panel-body .lab-egg img {
  image-rendering: pixelated;
  transform: scale(1.5);
}


/* Animation Colors */

.member,
#member {
  border-color: #fff !important;
  color: #fff !important;
  font-size: 18px;
}

.chat_mod,
#chat_mod {
  border-color: #5519fc !important;
  color: #5519fc !important;
  font-size: 18px;
}

.mod,
#mod,
.moderator,
#moderator,
.Moderator,
#Moderator {
  border-color: #fcbc19 !important;
  color: #fcbc19 !important;
  font-size: 18px;
}

.super_mod,
#super_mod {
  border-color: #25e1e8 !important;
  color: #25e1e8 !important;
  font-size: 18px;
}

.dev,
#dev {
  border-color: #bf00ff !important;
  color: #bf00ff !important;
  font-size: 18px;
}

.bot,
#bot {
  border-color: #25e845 !important;
  color: #25e845 !important;
  font-size: 18px;
}

.admin,
#admin,
.administrator,
#administrator,
.Administrator,
#Administrator {
  color: #bf00ff;
  font-size: 18px;
  text-shadow: 0 0 15px #bf00ff;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes gmod {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes cmod {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}


/* .spinner */
.spinner {
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 3px solid rgba(74, 97, 143, .15);
  border-right: 3px solid rgba(74, 97, 143, .15);
  border-bottom: 3px solid rgba(74, 97, 143, .15);
  border-top: 3px solid rgba(74, 97, 143, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}