/* Main Tags */

* {
  outline: none;
}

html {
  background: #0e131c;
  color: #fff;
  height: 100%;
}

body {
  background: #161d2a;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  color: #fff;
  height: 100%;
  margin: 0 auto;
  width: 1100px;
}

a:link,
a:visited {
  color: #4A618F;
  text-decoration: none;
}

a:hover {
  color: #fff !important;
  text-decoration: none;
}

button,
input[type='button'],
input[type='submit']
{
  background: #4A618F;
  background: -moz-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #888 0%, #4A618F 100%, #4A618F 100%);
  border: 2px solid #000;
  border-radius: 4px;
}

input[type='text'],
input[type='password'] {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 3px;
}

select {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 4px;
}

option {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  padding: 3px;
}

textarea {
  background: #3b4d72;
  border: 2px solid #000;
  border-radius: 4px;
  margin-bottom: 5px;
  outline: none;
  padding: 3px;
  text-align: center;
}

hr {
  background: #4A618F;
  border: 1px solid #4A618F;
  margin: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
  list-style-type: none;
  width: 25%;
}

::-webkit-input-placeholder {
  color: #4A618F;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2c3a55;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #161d2a;
}

::-webkit-scrollbar-track {
  background: #4A618F;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #4A618F;
}

::-webkit-scrollbar-track:active {
  background: #2c3a55;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.7);
}


/* Banner */

.banner {
  border-bottom: 2px solid #4A618F;
}

.banner>div {
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 1096px;
}

.banner>div.error {
  border-top: 1px solid #c90e0e;
  margin-top: -31px;
  width: 1096px;
}

.banner>div.notice {
  border-top: 1px solid #fcbc19;
  margin-top: -31px;
  width: 1096px;
}

.banner>div.success {
  border-top: 1px solid #25e845;
  margin-top: -31px;
  width: 1096px;
}


/* Userbar */

.userbar {
  background: #161d2ab4;
  border-bottom: 2px solid #4A618F;
  height: 32px;
  width: 100%;
}

.userbar>.user {
  background: #253047;
  border-left: 2px solid #4A618F;
  float: right;
  text-align: center;
  width: 200px;
}

.userbar>.user>a {
  color: #5e7bb4;
  display: block;
  height: 30px;
  padding: 5px 3px 3px 3px;
  width: 198px;
}

.userbar>.user>a:hover {
  background: #2c3a55;
  cursor: pointer;
}

.userbar>.money {
  background: #253047;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  float: right;
  height: 30px;
  margin-right: 10px;
  padding: 5px 3px 3px 3px;
  text-align: center;
  width: 150px;
}

.userbar>.roster {
  float: right;
  margin-right: 5px;
}

.userbar>.roster>.roster_slot {
  background: #253047;
  border-left: 2px solid #4A618F;
  border-right: 2px solid #4A618F;
  float: left;
  margin-right: 5px;
}

.userbar>.roster>.roster_slot:hover {
  background: #2c3a55;
  cursor: pointer;
}

.userbar>.roster>.roster_slot>.roster_tooltip {
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  width: 150px;
  border: 2px solid #4A618F;
  background: #2c3a55;
  z-index: 10001;
  margin-left: -55px;
  text-align: center;
  font-size: 12px;
}

.userbar>.roster>.roster_slot>.roster_tooltip>img.gender {
  height: 20px;
  margin-top: 1px;
  position: absolute;
  width: 20px;
}

.userbar>.roster>.roster_slot>.roster_tooltip>img.item {
  margin-left: -15px;
  margin-top: 1px;
  position: absolute;
}

.userbar>.roster>.roster_slot>.roster_tooltip>.info>div:nth-child(1) {
  background: #4A618F;
  padding-top: 2px;
  font-weight: bold;
}

.userbar>.roster>.roster_slot>.roster_tooltip>.info>div:nth-child(2) {
  padding-top: 2px;
}


/* Navigation Bar */

.navigation {
  background: #161d2ab4;
  border: 2px solid #4A618F;
  border-radius: 4px;
  float: left;
  margin: 5px 5px 0px 0px;
  text-align: center;
  width: 890px;
}

.navigation>div {
  float: left;
  padding: 5px;
  width: calc(100% / 6);
}

.navigation>div:hover {
  background: #2c3a55;
  cursor: pointer;
}

.navigation>div:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.navigation>ul {
  list-style: none;
}

.navigation>ul>li {
  float: left;
  width: calc(100% / 6);
}

.navigation>ul>li:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.navigation>ul>li:hover {
  background: #2c3a55;
}

.navigation>ul>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

.navigation>ul>.dropdown {
  display: inline-block;
  position: relative;
  z-index: 10000;
}

.navigation>ul>.dropdown>.dropdown-content {
  background: #161d2a;
  border: 1px solid #4A618F;
  display: none;
  margin-left: -1px;
  position: absolute;
  width: 149px;
}

.navigation>ul>.dropdown>.dropdown-content>li {
  border: none;
  clear: both;
  width: 100%;
}

.navigation>ul>.dropdown>.dropdown-content>li>a {
  display: block;
  line-height: 1.5;
  padding: 5px;
}

.navigation>ul>.dropdown:hover>.dropdown-content {
  display: block;
}


/* Sidebar */

.sidebar {
  float: left;
  margin: 5px;
  width: 190px;
}

.sidebar>.button {
  background: #161d2ab4;
  border: 2px solid #4A618F;
  border-radius: 4px;
  margin-bottom: 6px;
  text-align: center;
}

.sidebar>.button:hover {
  background: #2c3a55;
  cursor: pointer;
}

.sidebar>.button>a {
  display: block;
  padding: 5px;
}

.sidebar>.chat {
  border: 2px solid #4A618F;
  border-radius: 4px;
  float: left;
  /*margin-top: 5px;*/
  width: 190px;
}

.sidebar>.chat>.head {
  background: #4A618F;
  background: -moz-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #888 0%, #4A618F 100%, #4A618F 100%);
  border-bottom: 1px solid #4A618F;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.sidebar>.chat>.box {
  background: #161d2a;
  border-bottom: 1px solid #4A618F;
  height: 353px;
  overflow-y: auto;
  padding: 3px;
  text-align: center;
}


/* OLD HEIGHT : 283px */

.sidebar>.chat>.box>div[class^='message'] {
  border: 1px solid #4A618F;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px;
}

.sidebar>.chat>.box>div[class^='message'] .username {
  border-bottom: 1px solid #4A618F;
  padding: 4px;
  text-align: left;
}

.sidebar>.chat>.box>div[class^='message'] .username a {
  font-size: 14px !important;
  font-weight: bold;
  margin-top: 2px;
}

.sidebar>.chat>.box>div[class^='message'] .username .userSprite {
  background: #4A618F;
  float: left;
  margin-left: -6px;
  margin-right: 2px;
  margin-top: -6px;
}

.sidebar>.chat>.box>div[class^='message'] .time {
  font-size: 10px;
  float: right;
  margin-top: -30px;
}

.sidebar>.chat>.box>div[class^='message']:nth-child(odd) {
  background: #2c3a55;
}

.sidebar>.chat>.box>div[class^='message']:nth-child(even) {
  background: #253047;
}

.sidebar>.chat>.box>div[class^='message']:not(:last-child) {
  margin-bottom: 3px;
}

.sidebar>.chat>.box>div[class^='message'] div:last-child {
  word-wrap: break-word;
  padding-top: 3px;
}

.sidebar>.chat>.user_options {
  height: 309px;
  overflow-y: auto;
}

.sidebar>.chat>.user_options>.index {
  background: #2c3a55;
  border-bottom: 1px solid #4A618F;
  border-top: 1px solid #4A618F;
  padding: 3px;
  text-align: center;
}

.sidebar>.chat>.user_options>.subhead {
  border-top: 1px solid #4A618F;
  margin-top: 18px;
}

.sidebar>.chat>.subhead {
  text-align: center;
}

.sidebar>.chat>.subhead>form>input {
  background: #2c3a55;
  border: none;
  border-radius: 0px;
  height: 26px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}


/* Generic PAGE Navigation Styling */

.nav div {
  background: #4A618F;
  background: -moz-linear-gradient(top, #4A618F 0%, #888 100%, #888 100%);
  background: -webkit-linear-gradient(top, #4A618F 0%, #888 100%, #888 100%);
  background: linear-gradient(to bottom, #4A618F 0%, #888 100%, #888 100%);
  border: 1px solid #4A618F;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
  margin-right: 5px;
  padding: 3px;
  text-align: center;
  width: 125px;
}

.nav div:hover {
  background: #4A618F;
  background: -moz-linear-gradient(top, #4A618F 0%, #777 100%, #777 100%);
  background: -webkit-linear-gradient(top, #4A618F 0%, #777 100%, #777 100%);
  background: linear-gradient(to bottom, #4A618F 0%, #777 100%, #777 100%);
  cursor: pointer;
}


/* General 'Panel' Styling */

.panel {
  background: #2c3a55;
  border: 1px solid #4A618F;
  margin-bottom: 0px;
}

.panel>.panel-heading {
  background: #4A618F;
  background: -moz-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #888 0%, #4A618F 100%, #4A618F 100%);
  border-color: #4A618F;
  color: #fff;
  font-weight: bold;
  padding: 3px;
}

.panel>.panel-body {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px;
}

.panel>.panel-body>.panel-sidebar {
  float: left;
  height: 100%;
  padding: 5px;
  width: calc(100% / 4);
}

.panel>.panel-body>.panel-content {
  border-left: 1px solid #4A618F;
  float: left;
  padding: 5px;
}

.panel>.panel-body>.panel-content.half {
  width: calc(100% / 2);
}

.panel>.panel-body>.panel-content.quart {
  width: 75%;
}


/* Content */

.content {
  border: 2px solid #4A618F;
  border-radius: 4px;
  float: left;
  max-height: calc(100% - 207px);
  margin: 5px 5px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 890px;
}

.content>.head {
  background: #4A618F;
  background: -moz-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: -webkit-linear-gradient(top, #888 0%, #4A618F 100%, #4A618F 100%);
  background: linear-gradient(to bottom, #888 0%, #4A618F 100%, #4A618F 100%);
  border-bottom: 1px solid #4A618F;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.content>.box {
  background: rgba(74, 97, 143, 0.2);
  padding: 3px;
  text-align: center;
}

.content>*>.row {
  margin-left: 0px;
  margin-right: 0px;
}

.content .page_nav {
  border-bottom: 2px solid #4A618F;
  height: 30px;
  padding: 3px;
}

.content .page_nav>.pagination {
  display: block;
  margin: 0;
}

.content .page_nav>.pagination>div {
  float: left;
  padding: 1px;
}

.content .page_nav>.pagination>div:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.content .filter div div:hover {
  background: #253047;
  font-weight: bold;
}

.content .filter .p_search {
  border-bottom: 1px solid #4A618F;
  margin-top: 5px;
}

.content .filter .p_search input {
  width: 45%;
}

.content .filter .p_search select {
  padding: 4px;
  width: 45%;
}

.content .filter .p_type div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 25%;
}

.content .filter .p_type div:not(:nth-child(4n)) {
  border-right: 1px solid #4A618F;
}

.content .filter .p_type div a {
  display: block;
  padding: 3px;
}

.content .filter .p_gender div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 25%;
}

.content .filter .p_gender div:not(:nth-child(4n)) {
  border-right: 1px solid #4A618F;
}

.content .filter .p_gender div a {
  display: block;
  padding: 3px;
}

.content .filter .p_sortby div {
  border-bottom: 1px solid #4A618F;
  float: left;
  width: 50%;
}

.content .filter .p_sortby div a {
  display: block;
  padding: 3px;
}

.content .filter .p_sortby div:nth-child(odd) {
  border-right: 1px solid #4A618F;
}

.content .filter .search div {
  float: left;
  width: 100%;
}

.content .filter .search div a {
  display: block;
  padding: 3px;
}

.content div.description {
  background: #2c3a55;
  border: 2px solid #4A618F;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.success {
  background: #2c3a55;
  border: 2px solid #25e845;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.notice {
  background: #2c3a55;
  border: 2px solid #fcbc19;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}

.content div.error {
  background: #2c3a55;
  border: 2px solid #c90e0e;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}


/* Roster Styling */

.content .panel .panel-body .roster_slot {
  border-right: 1px solid #4A618F;
  float: left;
  padding: 5px 0px 0px;
}

.content .panel .panel-body .roster_slot.full {
  width: calc(100% / 3);
}

.content .panel .panel-body .roster_slot.mini {
  width: calc(100% / 6);
}

.content .panel .panel-body .roster_slot .info div:nth-child(1) {
  background: #4A618F;
  font-weight: bold;
}

.content .panel .panel-body .roster_slot img.item {
  margin-left: -10px;
  position: absolute;
}

.content .panel .panel-body .roster_slot:nth-last-child(1) {
  border-right: none;
}

.content .panel .panel-body .roster_slot.full:nth-child(-n+3) {
  border-bottom: 1px solid #4A618F;
}


/* border-right: 1px solid #4A618F;  */

.content .panel .panel-body .roster_slot.full:nth-child(3n) {
  border-right: none;
}

img.spricon:hover {
  background: #4A618F !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

.content .panel .panel-body .roster_slot .slots div:nth-child(odd) {
  background: #2c3a55;
  height: calc(120px / 3);
  margin-top: -5px;
}

.content .panel .panel-body .roster_slot .slots div:nth-child(even) {
  background: #3b4d72;
}

.content .panel .panel-body .roster_slot .slots div a {
  display: block;
}

.content .panel .panel-body .roster_slot .slots.left:nth-child(1) div {
  border-right: 1px solid #4A618F;
}

.content .panel .panel-body .roster_slot .slots.right:nth-child(5) div {
  border-left: 1px solid #4A618F;
}

.content .panel .panel-body .roster_slot .slots.left div {
  border-right: 1px solid #4A618F;
  min-width: 34.8px;
  width: 35px;
}

.content .panel .panel-body .roster_slot .slots.right div {
  border-left: 1px solid #4A618F;
  min-width: 34.8px;
  width: 35px;
}

.content .panel .panel-body .evolution {
  height: 117px;
  width: 100%;
}

.content .panel .panel-body .evolution .image {
  float: left;
  text-align: center;
  width: 200px;
}

.content .panel .panel-body .evolution .image div {
  background: #3b4d72;
  border-top: 1px solid #4A618F;
  width: 200px;
}

.content .panel .panel-body .evolution .requirements {
  border-left: 1px solid #4A618F;
  border-right: 1px solid #4A618F;
  float: left;
  height: 117px;
  width: 500px;
}

.content .panel .panel-body .evolution .requirements div {
  background: #3b4d72;
  border-bottom: 1px solid #4A618F;
  width: 498px;
}

.content .panel .panel-body .evolution .button {
  float: left;
  height: 117px;
  padding-top: 50px;
  width: 178px;
}

.content .panel .panel-body .evolution .button:hover {
  background: #3b4d72;
  cursor: pointer;
}

.content .panel .panel-body .evolution:nth-last-child(1) {
  border-top: 1px solid #4A618F;
}


/* 'profile.php' */

.content .box.profile .interactions div div:hover,
.content .box.profile .navi div div:hover {
  background: #2c3a55;
}

.content .box.profile .interactions div div:nth-child(odd),
.content .box.profile .navi div div:not(:nth-last-child(1)) {
  border-right: 1px solid #4A618F;
}

.content .box.profile .interactions div div:nth-child(-n+2) {
  border-bottom: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot {
  float: left;
  width: calc(100% / 3);
}

.content .box.profile #profileAJAX .roster_slot:not(:nth-child(3n)) {
  border-right: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot:nth-child(-n+3) {
  border-bottom: 1px solid #4A618F;
}

.content .box.profile #profileAJAX .roster_slot .info div:nth-child(1) {
  background: #4A618F;
  font-weight: bold;
}

.content .box.profile #profileAJAX .box_slot {
  padding: 3px;
  width: calc(100% / 3);
}

.content .box.profile #profileAJAX .box_slot:hover {
  background: #2c3a55;
  cursor: pointer;
}

.content .box.profile #profileAJAX .box_slot:not(:nth-child(3n)) {
  border-right: 1px solid #4A618F;
}

.content .box.profile #profileAJAX table.box_cont tr:nth-last-child(n+2) td:nth-last-child(n+1) {
  border-bottom: 1px solid #4A618F;
}


/* 'pokemon_center.php' */

.content .box.pokecenter .nav {
  margin-bottom: 5px;
  margin-top: -4px;
}

.content .box.pokecenter .nav div {
  background: #2c3a55;
  border-bottom: 1px solid #4A618F;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #5e7bb4;
  float: left;
  padding: 5px;
  width: calc(100% / 6 - 5px);
}

.content .box.pokecenter .nav div:hover {
  background: #253047;
  color: #fff;
  cursor: pointer;
}

.content .box.pokecenter .held_item {
  border: 2px solid #4A618F;
  float: left;
  margin-bottom: 5px;
  width: calc(50% - 2.5px);
}

.content .box.pokecenter .held_item:nth-child(odd) {
  margin-right: 5px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(1) {
  border-right: 2px solid #4A618F;
  padding: 0px 5px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(2) {
  border-right: 2px solid #4A618F;
  padding: 5px;
  width: 220px;
}

.content .box.pokecenter .held_item .panel-body div:nth-child(3) {
  padding: 5px;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div {
  background: #3b4d72;
  border-bottom: 2px solid #4A618F;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div:hover {
  background: #253047;
  cursor: pointer;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(1)>div:not(:nth-child(6n)) {
  border-right: 1px solid #4A618F;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont {
  float: left;
  padding: 3px;
  width: 20%;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont:hover {
  background: #253047;
  cursor: pointer;
}

.content .box.pokecenter #pokemon_center .panel .panel-body.inventory>div:nth-child(2)>div.item_cont:not(:nth-child(5n)) {
  border-right: 1px solid #4A618F;
}


/* 'evolution_center.php' */


/* 'shop_plaza.php' */


/* 'trade_central.php' */


/* 'messages.php' */


/* 'map_select.php' */


/* 'staff_list.php' */


/* 'rankings.php' */


/* 'battle.php' */

#battleWindow .rosters .battle_slot {
  background: #2c3a55;
  border: 1px solid #4A618F;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
  margin-left: 4.3px;
  margin-right: 6px;
  width: calc(100% / 7);
}

#battleWindow .rosters .battle_slot:hover {
  background: #2c3a55;
  cursor: pointer;
}

#battleWindow .rosters .battle_slot:nth-last-child(1) {
  margin-right: 0px;
}

#battleWindow .active_pokemon .hp_bar,
#battleWindow .active_pokemon .exp_bar {
  background: #4A618F;
  border-radius: 4px;
  height: 9px;
  margin: 0 auto;
  width: 130px;
}

#battleWindow .active_pokemon .hp_bar span {
  background: #c90e0e;
  height: 3px;
  margin-left: -60px;
  margin-top: 3px;
  max-width: 130px;
  position: absolute;
}

#battleWindow .active_pokemon .exp_bar span {
  background: #4A618F;
  height: 3px;
  margin-left: -60px;
  margin-top: 3px;
  max-width: 130px;
  position: absolute;
}

#battleWindow .options {
  margin-left: 424px;
  margin-top: 50px;
  padding: 5px;
  position: absolute;
  width: 32px;
  z-index: 1;
}

#battleWindow .options:hover {
  cursor: pointer;
}

#battleWindow .options span img {
  height: 26px;
  margin-left: -3px;
  width: 26px;
}

#battleWindow .moves {
  margin-top: 5px;
}

#battleWindow .moves .panel-body {
  border-radius: 4px;
  padding: 3px;
}

#battleWindow .moves .panel-body button {
  background: #3b4d72;
  border: 1px solid #2c3a55;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
}

#battleWindow .moves .panel-body button:hover {
  background: #4A618F;
}

#battleWindow .battleDialog {
  margin-top: 5px;
}

#battleWindow #battleDialog {
  border-radius: 4px;
  font-size: 12px;
  padding: 5px;
}

#battleWindow #battleDialog button {
  background: #3b4d72;
  border: 1px solid #2c3a55;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  width: 20%;
}

#battleWindow #battleDialog button:hover {
  background: #4A618F;
}


/* Pokemon Lab */

.content .box.laboratory .panel .panel-heading #refresh {
  float: right;
}

.content .box.laboratory .panel .panel-heading #refresh:hover {
  cursor: pointer;
}

.content .box.laboratory .panel .panel-body .lab-egg {
  float: left;
  padding: 3px;
  width: 20%;
}

.content .box.laboratory .panel .panel-body .lab-egg:not(:last-child) {
  border-right: 1px solid #4A618F;
}

.content .box.laboratory .panel .panel-body .lab-egg:hover {
  background: #3b4d72;
  cursor: pointer;
}

.content .box.laboratory .panel .panel-body .lab-egg img {
  image-rendering: pixelated;
  transform: scale(1.5);
}


/* Animation Colors */

.member,
#member {
  border-color: #fff !important;
  color: #fff !important;
  font-size: 18px;
}

.chat_mod,
#chat_mod {
  border-color: #5519fc !important;
  color: #5519fc !important;
  font-size: 18px;
}

.mod,
#mod {
  border-color: #fcbc19 !important;
  color: #fcbc19 !important;
  font-size: 18px;
}

.super_mod,
#super_mod {
  border-color: #25e1e8 !important;
  color: #25e1e8 !important;
  font-size: 18px;
}

.dev,
#dev {
  border-color: #bf00ff !important;
  color: #bf00ff !important;
  font-size: 18px;
}

.bot,
#bot {
  border-color: #25e845 !important;
  color: #25e845 !important;
  font-size: 18px;
}

.admin,
#admin,
.Administrator,
#Administrator {
  color: #bf00ff;
  font-size: 18px;
  text-shadow: 0 0 15px #bf00ff;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes gmod {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes cmod {
  from {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  to {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}


/* .spinner */

.spinner {
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 3px solid rgba(74, 97, 143, .15);
  border-right: 3px solid rgba(74, 97, 143, .15);
  border-bottom: 3px solid rgba(74, 97, 143, .15);
  border-top: 3px solid rgba(74, 97, 143, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}