# General configuration or environmental files
.github
.vscode
.editorconfig
.env.local
.gitignore
.prettierrc.json

# Documentation
LICENSE
README.md
docs

# Unnecessary Docker configuration files
docker-compose.yml
dockerfiles

