:root {
  --banner-bg-size: 1100px 140px;
  /* --banner-image: url("../../assets/images/Layout/Banners/absol.png"); */
  --banner-height: 125px;

  --banner-padding: 10px 3px 0px 0px;

  --border-radius: 6px;
  --border-radius-tl: 6px 0px 0px 0px;
  --border-radius-tr: 0px 6px 0px 0px;
  --border-radius-br: 0px 0px 6px 0px;
  --border-radius-bl: 0px 0px 0px 6px;
  --border-radius-tl-tr: 6px 6px 0px 0px;
  --border-radius-tl-bl: 6px 0px 0px 6px;
  --border-radius-tr-br: 0px 6px 6px 0px;
  --border-radius-bl-br: 0px 0px 6px 6px;
  --border-radius-tr-br-bl: 0px 6px 6px 6px;

  --border-radius-50p: 50%;

  --border-gradient-padding: 2px;

  --border-style: 2px solid;

  --display-flex: flex;
  --display-block: block;
  --display-inline-block: inline-block;

  --margin-center: 0 auto;

  --base-padding: 4px;
}
