.pokemon-center-content {
    display: flex;
    flex: 1;
    flex-direction: row;

    .pokemon-center-status {
        grid-column: 1 / -1;

        margin: 0;

        text-align: center;

        align-self: center;

        &.error {
            color: #ff8899;
        }
    }

    .pokemon-center-inventory-bag {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        align-content: flex-start;
        gap: 0.5em;

        padding: 0.5em;

        border-radius: var(--border-radius);
    }

    .pokemon-center-box-card {
        display: flex;
        align-items: center;
        gap: 0.5em;

        position: relative;

        max-height: 66px;
        padding: 0.125em 0;

        border-radius: var(--border-radius);

        background: var(--color-tertiary);

        box-shadow:
            inset 0 8px 8px rgb(128 144 176 / 8%),
            inset 0 -1px 2px rgb(14 19 28 / 12%),
            inset 0 -1px 2px rgb(14 19 28 / 4%);

        transition: background 0.25s ease;

        &:hover {
            cursor: pointer;
            background: var(--color-primary);
        }

        &.is-item {
            width: auto;

            .pokemon-data {
                width: auto;
            }

            .pokemon-center-box-card-image {
                width: 30px;
            }
        }

        .pokemon-data {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            width: 100%;
            padding: 0.5em;
        }

        .pokemon-center-box-card-image {
            width: 40px;
            height: 30px;

            flex-shrink: 0;

            image-rendering: pixelated;
        }

        .pokemon-center-box-card-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 0.25em;

            position: relative;
        }

        .pokemon-center-box-card-name {
            font-size: 0.85em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .pokemon-center-box-card-level,
        .pokemon-center-box-card-nickname {
            font-size: 0.85em;
        }

        .pokemon-center-box-card-nickname {
            color: var(--color-light-grey);
        }

        .pokemon-center-box-card-gender {
            display: flex;
            align-items: center;

            position: absolute;
            top: 0;
            right: 0;

            width: 32px;
            height: 100%;

            img {
                width: 32px;
                height: 32px;

                opacity: 0.4;
            }
        }
    }

    .pokemon-center-roster {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        min-width: 250px;
        max-width: 250px;

        margin-top: 1em;

        >.pokemon-center-roster-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 0.5em;
            padding: 0 2em;

            h3 {
                font-size: 1.25em;
                font-weight: bold;
                color: #4a618f;
            }

            .pokemon-center-roster-count {
                font-size: 0.875em;
            }
        }

        >div:not(.pokemon-center-roster-header) {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            border-right: none;
        }
    }

    .pokemon-center-box {
        display: flex;

        width: 100%;

        .panel-content {
            display: flex;
            flex: 1;
            flex-direction: column;

            width: 100%;
        }

        .pokemon-center-box-container {
            width: 100%;
        }

        .pokemon-center-box-content {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            align-content: flex-start;
            gap: 0.5em;

            height: 518px;
            max-height: 518px;

            padding: 0.5em;

            border-radius: var(--border-radius);
        }

        .pokemon-center-box-filter {
            padding: 0 !important;

            table {
                width: 100%;

                table-layout: fixed;
                text-align: center;

                td {
                    max-width: 25%;
                    padding: 0.25em;
                }

                a {
                    display: block;

                    padding: 0.45em 0.5em;

                    border-radius: var(--border-radius);

                    color: var(--color-white);
                    background: var(--color-secondary);

                    transition: background 0.25s ease;

                    &:hover {
                        cursor: pointer;
                        background: var(--color-gradient-one);
                    }

                    &.active {
                        background: var(--color-primary);
                    }
                }
            }
        }

        .pokemon-center-box-pagination {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: var(--base-padding);

            >div:nth-child(2) {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;

                margin: 0 auto;
            }

            button {
                padding: 0.35em 0.65em;

                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);

                color: var(--color-white);
                background: var(--color-quadternary);

                transition: background 0.25s ease;

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }

                &:hover:not(:disabled) {
                    cursor: pointer;
                    background: var(--color-gradient-one);
                }
            }
        }
    }
}
