:root {
    --banner-image: url("../../assets/images/Layout/Banners/shiny-absol.png");

    --color-primary: #b2495b;
    --color-secondary: #8a4251;
    --color-tertiary: #6b2d39;
    --color-quadternary: #52202a;
    --color-quinary: #3d1820;
    --color-sexary: #2a1016;
    --color-septary: #17080c;

    --color-gradient-one: #d48a94;
    --color-gradient-two: #6b2d39;

    --color-black: #000;
    --color-white: #fff;
    --color-light-grey: #777;
    --color-mid-grey: #555;
    --color-dark-grey: #333;
    --color-chat-pmsg: #330000;

    --border-color-success: #2de06b;
    --border-color-error: #d93030;
    --border-color-warning: #e6b84a;

    --border-color-description: #b2495b;
    --border-color-notice: #b2495b;

    --background-color-start: #c7d2fe;
    --background-color-mid: #fecaca;
    --background-color-end: #fef9c3;

    --background-gradient: radial-gradient(ellipse at top right, var(--background-color-start), var(--background-color-mid), var(--background-color-end));

    --background-color-light-start: var(--color-quadternary);
    --background-color-light-mid: var(--color-tertiary);
    --background-color-light-end: var(--color-secondary);

    --background-gradient-light: radial-gradient(ellipse at top right, var(--background-color-light-start), var(--background-color-light-mid), var(--background-color-light-end));

    --bg-success: #155927;
    --bg-error: #5f1118;
    --bg-warning: #6e4e11;
    --bg-description: #52202a;
    --bg-notice: #52202a;

    --color-success: #fff;
    --color-error: #fff;
    --color-warning: #fff;
    --color-description: #fff;
    --color-notice: #fff;

    --border-color: #b2495b;
    --border-color-secondary: #000;

    --border-gradient: linear-gradient(180deg, var(--color-gradient-one) 0, var(--color-gradient-two));

    --box-shadow: 0px 1px 5px #000;
    --box-shadow-nav: rgba(2, 8, 20, 1) 1px 1px 1em 0px;

    --footer-peeker-shadow: rgba(0, 0, 0, 0.33);
    --pokemon-preview-footer: rgba(94, 34, 34, 0.5);

    --rank-member: #fff;
    --rank-chat-mod: #5519fc;
    --rank-moderator: #fcbc19;
    --rank-super-mod: #25e1e8;
    --rank-developer: #bf00ff;
    --rank-bot: #25e845;
    --rank-administrator: #c90e0e;
}
