header {
    /* height: calc(var(--banner-height) * 1.5); */

    position: relative;

    /* .rpg-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: var(--banner-padding);

        color: var(--color-white);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

        letter-spacing: 0.25em;

        .rpg-name {
            display: flex;
            align-self: center;

            font-family: 'Birthstone', sans-serif;
            font-weight: bold;

            font-size: 3em;

            width: 128px;
        }

        .rpg-time {
            font-family: 'Nunito', monospace;
            font-weight: bold;

            display: flex;
            align-self: center;
        }

        .social-links {
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            justify-content: right;

            gap: 1em;

            width: 128px;

            div {
                display: flex;

                height: 24px;
                width: 24px;

                & > a {
                    color: var(--color-light-grey);
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
                    font-size: 1.5em;
                    transition: all 200ms ease-in-out;

                    display: flex;

                    height: 24px;
                    width: 24px;

                    &:hover {
                        color: var(--color-white) !important;

                        & > svg {
                            color: var(--color-white) !important;

                            transition: all 200ms ease-in-out;
                        }
                    }

                    & > svg {
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }
    } */

        .banner {
            background: var(--banner-image);
            background-size: var(--banner-bg-size);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            filter: drop-shadow(0px 4px 6px rgba(74, 97, 143, 0.5));

            display: flex;

            border: none;
            border-radius: var(--border-radius);

            overflow: hidden;
            position: absolute;

            bottom: 0px;
            left: 0px;

            margin-bottom: 3.5em;
            padding: 0.5em 1em;

            height: calc(var(--banner-height) * 0.9);
            width: 100%;
        }

    .user-bar {
        margin: 1em 0;
        width: 100%;

        .banner {
            background: var(--banner-image);
            background-size: var(--banner-bg-size);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            filter: drop-shadow(0px 4px 6px rgba(74, 97, 143, 0.5));

            display: flex;

            border: none;
            border-radius: var(--border-radius);

            overflow: hidden;
            position: absolute;

            bottom: 0px;
            left: 0px;

            margin-bottom: 3.5em;
            padding: 0.5em 1em;

            height: calc(var(--banner-height) * 0.9);
            width: 100%;
        }

        .social-links {
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            justify-content: right;

            gap: 1em;

            position: absolute;
            right: 1em;
            top: 2em;

            width: 128px;

            div {
                display: flex;

                height: 24px;
                width: 24px;

                & > a {
                    color: var(--color-success);
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
                    font-size: 1.5em;
                    transition: all 200ms ease-in-out;

                    display: flex;

                    height: 24px;
                    width: 24px;

                    &:hover {
                        color: var(--color-white) !important;

                        & > svg {
                            color: var(--color-white) !important;

                            transition: all 200ms ease-in-out;
                        }
                    }

                    & > svg {
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }

        .user-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-self: center;
            gap: 1em;

            margin-top: 4em;
            padding: 0 1em;
            width: calc(100% - 2em);

            position: relative;
            top: 12px;
            z-index: 2;

            & > .user-avatar {
                background: var(--border-gradient);
                filter: drop-shadow(0px 2px 4px rgba(74, 97, 143, 0.5));

                height: 108px;
                width: 108px;

                border-radius: 1em;
                padding: 4px;

                & > img {
                    border-radius: 1em;

                    display: flex;
                    align-self: center;
                    justify-self: center;
                }
            }

            & > .user-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5em;

                & > .username {
                    font-size: 1.5em;
                    font-weight: bold;

                    margin-top: 0.5em;

                    color: var(--color-white);

                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
                    font-family: 'Nunito', sans-serif !important;
                }

                & > .user-roster {
                    display: flex;
                    flex-direction: row;
                }
            }

            & > .user-currencies {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: self-end;

                gap: 2em;

                margin-left: auto;
                padding-bottom: 1em;

                & > .currency {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5em;

                    color: var(--color-white);
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

                    font-family: 'Nunito', sans-serif !important;

                    & > img {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            & > .rpg-time {
                color: var(--color-tertiary);
                display: flex;
                justify-content: right;

                position: absolute;
                right: 0;
                top: 2.25em;

                font-family: 'Nunito', monospace;
                font-weight: bold;
                letter-spacing: 0.25em;
            }
        }
    }
}
