.floating-window {
    position: fixed;
    max-width: 700px;
    max-height: 500px;
    z-index: 1000;
    border-radius: 6px;

    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-self: center;

    & .floating-window-title {
        padding: 0.5em;
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        font-weight: bold;
        white-space: nowrap;
        overflow: visible;
        text-overflow: ellipsis;

        & > button {
            border: none;

            float: right;
            position: absolute;

            cursor: pointer;

            font-size: 20px;
            padding: 0 5px;

            right: 0.5em;
            width: 2em;
        }
    }

    & .floating-window-iframe {
        position: relative;
        flex: 1;

        & .floating-window-loading {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            margin: 0 auto;

            top: 0;
            left: 0;

            height: 100%;
            width: 100%;
        }

        & iframe {
            border: none;
            border-radius: var(--border-radius);

            height: 100%;
            width: 100%;
        }
    }
}

.pokemon-preview-container {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    .pokemon-preview {
        display: flex;
        justify-content: end;
        flex-direction: column;

        width: 192px;
        height: 263px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 192px;
            height: 263px;

            background: url('/assets/images/PopupBackgrounds/Forest.png') no-repeat center center;
            background-size: cover;
        }

        & > img {
            position: fixed;

            align-self: center;
            justify-self: center;

            height: 160px;
            width: 160px;
        }

        & > .pokemon-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: absolute;
            max-width: 192px;
            top: 0;

            padding: 4px;

            & > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
            }
        }

        & > .pokemon-footer {
            position: relative;

            align-self: end;
            justify-self: center;

            border-top: 1px solid var(--color-secondary);
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));

            background-color: var(--pokemon-preview-footer);

            min-height: 47px;
            width: 100%;
            padding: 0.5em;

            & > div:first-child {
                font-weight: bold;
            }

            & > .pokemon-gender {
                position: fixed;
                height: 32px;
                width: 32px;
                top: 8px;
                right: 8px;

                img {
                    height: 32px;
                    width: 32px;

                    opacity: 0.5;
                }
            }
        }
    }

    .pokemon-info-container {
        flex: 1;

        .pokemon-info-tabs {
            display: flex;
            flex-direction: row;

            button {
                background-color: var(--color-primary);
                border: none;
                border-right: 1px solid var(--color-tertiary);

                color: var(--color-white);

                padding: 0.5em 1em;

                flex: 1;

                &:hover {
                    background-color: var(--color-secondary);
                    cursor: pointer;

                    transition: all 0.15s;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        & .pokemon-info-content {
            & > div {
                display: flex;
                flex-direction: column;
                gap: 0.6em;

                padding: 0.5em;

                text-align: center;

                &#pokemon-moves {
                    gap: 0.3em;
                    padding: 0.35em 0.5em;
                }

                & > div {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5em;

                    & > div {
                        flex: 1;

                        display: flex;
                        flex-direction: column;
                        gap: 0.1em;
                    }
                }

                div.pokemon-iv-reroll,
                div.pokemon-ev-allocation {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    flex: 1;

                    position: fixed;
                    bottom: 0;

                    padding: 0.5em;

                    & > div:last-child {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 0.25em;
                    }

                    button {
                        padding: 0.5em;
                        border: none;
                        border-radius: var(--border-radius);
                        background: var(--color-primary);
                        color: var(--color-white);
                        font-weight: bold;
                        transition: background 0.15s;

                        flex: 1;

                        &:hover {
                            background: var(--color-gradient-one);
                            cursor: pointer;
                        }
                    }
                }

                div.pokemon-preview-move {
                    display: flex;
                    flex-direction: column;

                    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
                    background-color: var(--color-tertiary);
                    border-radius: 2px;

                    padding: 0.475em;

                    & > div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 0.5em;

                        & > div {
                            display: flex;
                            gap: 0.35em;

                            img.pokemon-move-type {
                                max-width: 80px;
                            }

                            img.pokemon-move-category {
                                max-width: 32px;
                            }
                        }
                    }
                }
            }

            div.label {
                font-size: 0.9em;
                font-weight: bold;
                margin-bottom: 0.15em;

                color: var(--color-primary);
            }

            div.value {
                display: flex;
                justify-content: center;

                font-size: 0.9em;

                padding: 4px 2px 2px;

                border: 1px solid var(--border-color);
                filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
                background-color: var(--color-tertiary);
                border-radius: 2px;
            }
        }
    }
}

