* {
  line-height: 1.5;
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1100px;
}

a {
  text-decoration: none;
}

hr.faded {
  height: 1px;
  border: none;
  width: 80%;
  margin: 5px auto;
}

input[type='text'],
input[type='number'],
input[type='password'] {
  border: 2px solid;
  border-radius: var(--border-radius);
  padding: var(--padding-3px);
  text-align: center;
  width: 190px;
}

input[type='button'],
input[type='submit'] {
  border-radius: var(--border-radius);
  padding: var(--padding-3px);
  width: 200px;
}

input[type='button']:not(.disabled):hover,
input[type='submit']:not(.disabled):hover {
  cursor: pointer;
}

button {
  border-radius: var(--border-radius);
  padding: var(--padding-3px);
  width: 200px;
}

button:not(.disabled):hover {
  cursor: pointer;
}

select {
  border: var(--border-style);
  border-radius: var(--border-radius);
  padding: var(--padding-4px);
  width: 200px;
}

textarea {
  border: var(--border-style);
  border-radius: var(--border-radius);
  margin: 0;
}

ul,
li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul>li,
li>li {
  float: left;
  list-style-type: none;
}

ul>li>a,
li>li>a {
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

div .flex {
  display: flex;
}

div .flex.wrap {
  flex-wrap: wrap;
}

div .loading-element {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: loadspinner 1s linear infinite;
}

div#map_canvas {
  height: 300px;
  padding: 0px;
  width: 300px;
}

div#map_canvas>canvas {
  border-radius: 6px;
  margin: 0;
  max-height: 300px;
  max-width: 300px;
}

/**
 * Elements that have a gradient border.
 */
.border-gradient {
  border-radius: var(--border-radius);
  position: relative;
}

.border-gradient:not(table) {
  display: var(--display-flex);
  padding: var(--border-gradient-padding);
}

.border-gradient.br-50p {
  border-radius: var(--border-radius);
}

.border-gradient.br-50p>div {
  border-radius: var(--border-radius);
}

.border-gradient.br-50p>div>img {
  border-radius: var(--border-radius);
}

.border-gradient.h-30px {
  height: 30px;
}

.border-gradient.w-30px {
  width: 30px;
}

.border-gradient.hw-30px {
  height: 30px;
  width: 30px;
}

.border-gradient.h-100px {
  height: var(--set-100px);
}

.border-gradient.w-100px {
  width: var(--set-100px);
}

.border-gradient.hw-96px {
  height: 96px;
  width: 96px;
}

.border-gradient.hw-100px {
  height: var(--set-100px);
  width: var(--set-100px);
}

.border-gradient.h-150px {
  height: var(--set-150px);
}

.border-gradient.w-150px {
  width: var(--set-150px);
}

.border-gradient.hw-150px {
  height: var(--set-150px);
  width: var(--set-150px);
}

.border-gradient.m-top-m22px {
  margin-top: var(--minus-22px);
}

.border-gradient.margin-center {
  margin: 0 auto;
}

.border-gradient.hover>div:hover {
  cursor: pointer;
}

.border-gradient.stat {
  max-height: 30px;
}

.border-gradient>div>a {
  display: block;
}

.border-gradient>div,
.border-gradient>div>img {
  border-radius: var(--border-radius);
  text-align: center;
}

.border-gradient>div:first-child {
  border-radius: var(--border-radius-tl-bl);
}

.border-gradient>div:last-child {
  border-radius: var(--border-radius-tr-br);
  width: -webkit-fill-available;
  padding: 5px;
}

.border-gradient>div:only-child {
  border-radius: var(--border-radius);
}

.border-gradient .padding-5px {
  padding: var(--padding-5px);
}

.border-gradient.padding-0px>div {
  padding: var(--padding-0px);
}

/**
 * Custom Panel Styling
 */
.panel {
  border-radius: var(--border-radius);
  padding: 2px;
}

.panel>div:last-child {
  border-radius: var(--border-radius-bl-br);
}

.panel>div:not(.head):not(:last-child) {
  border-bottom: 2px solid;
}

.panel.m-center {
  margin: var(--margin-center);
}

.panel.content {
  float: left;
  margin: 0px 5px 5px;
  width: 100%;
}

.panel.content>.body {
  text-align: center;
}

.panel.content>.body.padding-5px {
  padding: var(--padding-5px);
}

.panel>.head {
  border-radius: var(--border-radius-tl-tr);
  font-weight: bold;
  padding: var(--padding-3px);
  text-align: center;
}

.panel>.body:last-child {
  border-radius: var(--border-radius);
}

.panel>.body>.description {
  border: 2px solid;
  border-radius: var(--border-radius);
  margin: 0 auto 5px;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.panel>.body>.nav {
  height: 29px;
  margin-bottom: 8px;
}

.panel>.body>.nav>div {
  border: 2px solid;
  border-top: none;
  border-radius: var(--border-radius-bl-br);
  float: left;
  margin-left: 15px;
  min-width: 120px;
  text-align: center;
  transition: background 150ms;
}

.panel>.body>.nav>div>a {
  display: block;
  padding: var(--padding-3px);
}

.panel>.body>.pagi {
  border-bottom: 2px solid;
  height: 30px;
}

.panel>.body>.pagi>div {
  float: left;
  height: auto;
}

.panel>.body>.pagi>div:not(:last-child) {
  border-right: 1px solid;
}

.panel>.body>.pagi>div>* {
  display: block;
  padding: var(--padding-5px);
}

.panel>.foot>form {
  margin: 0px;
}

.panel>.foot>form>input {
  border: none;
  border-radius: var(--border-radius-bl-br);
  height: 26px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  width: 186px;
}

/**
 * Table
 */
table {
  font-size: 14px;
  margin: 0 auto;
}

table>tbody>tr:first-child:last-child>td:first-child:last-child {
  border-radius: var(--border-radius);
}

table>tbody>tr:first-child:last-child>td:first-child {
  border-radius: var(--border-radius-tl-bl);
}

table>tbody>tr:first-child:last-child>td:last-child {
  border-radius: var(--border-radius-tr-br);
}

table>tbody>tr:first-child>td:first-child:last-child {
  border-radius: var(--border-radius-tl-tr);
}

table>tbody>tr:first-child>td:first-child {
  border-radius: var(--border-radius-tl);
}

table>tbody>tr:first-child>td:last-child {
  border-radius: var(--border-radius-tr);
}

table>tbody>tr:last-child>td:first-child:last-child {
  border-radius: var(--border-radius-bl-br);
}

table>tbody>tr:last-child>td:first-child {
  border-radius: var(--border-radius-bl);
}

table>tbody>tr:last-child>td:last-child {
  border-radius: var(--border-radius-br);
}

table>tbody>tr>td {
  font-size: 12px;
  padding: var(--padding-3px);
  text-align: center;
}

table>tbody>tr>td a {
  display: block;
}

/**
 * Banner
*/
header {
  background: var(--banner-image);
  background-position: center;
  background-size: var(--banner-bg-size);
  border-bottom: var(--border-style);
  display: var(--display-flex);
  flex-basis: 100%;
  height: var(--banner-height);
  justify-content: flex-start;
  position: relative;
}

header>div {
  flex-basis: auto;
  margin: 5px;
}

header>.user>div:first-child {
  display: var(--display-flex);
}

header>.user>div:first-child>div:first-child {
  flex-basis: 100px;
  margin-left: 2px;
  margin-right: 5px;
}

header>.user>div:first-child>div:last-child {
  flex-basis: 36px;
  height: 36px;
  width: 36px;
}

header>.user>div:last-child {
  flex-basis: 100%;
}

header>.stats>.stat {
  margin: 0px 0px 7px 5px;
  text-align: center;
}

header>.roster {
  display: var(--display-flex);
  flex-direction: row;
  flex-wrap: wrap;
  width: 108px;
}

header>.roster>.slot {
  flex-basis: auto;
  margin: 0px 5px;
  max-height: 30px;
}

header>.roster>.slot:not(:first-child):not(:nth-child(2)) {
  margin-top: 7px;
}

header>.roster>.slot>div {
  padding: 0;
}

header>.direct-message {
  margin-left: auto;
  margin-top: auto;
}

/**
 * Footer
 */
footer {
  bottom: 0;
  border-top: var(--border-style);
  height: 46px;
  padding: 5px;
  position: sticky;
  top: calc(100% - 46px);
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer>div {
  flex-basis: auto;
  padding: 2px;
}

footer>.copyright {
  flex-grow: 3;
}

footer>.social-links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
}

footer>.social-links>a {
  height: 34px;
  max-height: 34px;
  margin-top: -5px;
  transition: all 150ms;
}

footer>.social-links>a .icon {
  height: 34px;
  transition: all 150ms;
  width: 34px;
}

/**
 * Desktop
 */
@media screen and (min-width: 1100px) {
  div.BODY-CONTAINER {
    align-content: baseline;
    border-left: var(--border-style);
    border-right: var(--border-style);
    display: var(--display-flex);
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 100%;
    width: 1100px;
  }

  div.description,
  div.error,
  div.success,
  div.warning {
    border: var(--border-style);
    border-radius: var(--border-radius);
    flex-basis: calc(100% - 26px);
    margin: 0 auto 5px;
    padding: var(--padding-5px);
    text-align: center;
    width: var(--set-80p);
  }

  div .progress-container {
    border-radius: 10px;
    height: 6px;
    padding: 2px;
    width: 100px;
  }

  div .progress-container .progress-bar {
    border-radius: 6px;
    height: 6px;
    transition: width 0.5s;
    width: 0px;
  }

  div.br-50p {
    border-radius: 50%;
  }

  div.flex {
    display: var(--display-flex);
  }

  div.flex.wrap {
    flex-wrap: wrap;
    padding-bottom: 5px;
  }

  /**
  * Navigation Bar
  */
  nav {
    flex-basis: 100%;
    height: 35px;
    margin: 5px 5px 1px;
    text-align: center;
  }

  nav>button {
    display: none;
  }

  nav>.nav-container {
    display: flex;
    justify-content: center;
  }

  nav>.nav-container>.button {
    border-radius: 6px;
    float: left;
    font-weight: bold;
    transition: all 150ms;
    width: 210px;
  }

  nav>.nav-container>.button:hover {
    cursor: pointer;
  }

  nav>.nav-container>.button>a {
    display: block;
    padding: var(--padding-5px);
    transition: background 0.15s;
  }

  nav>.nav-container>.nav-item {
    display: block;
    height: auto;
    text-align: center;
    width: calc(100% / 7);
  }

  nav>.nav-container>.nav-item>a {
    border-radius: var(--border-radius);
    display: block;
    font-weight: bold;
    height: auto;
    padding: var(--padding-5px);
    transition: background 0.15s;
  }

  nav>.nav-container>.nav-item>a:hover {
    background: none;
  }

  nav>.nav-container>.nav-item>a>img {
    display: none;
  }

  nav>.nav-container>.nav-item>.dropdown {
    border: var(--border-style);
    border-radius: var(--border-radius);
    margin-top: 0.69rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 148px;
    z-index: 3;
  }

  nav>.nav-container>.nav-item.has-dropdown:focus-within>.dropdown {
    opacity: 1;
    pointer-events: auto;
  }

  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item {
    width: 100%;
  }

  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:first-child:last-child,
  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:first-child:last-child>a {
    border-radius: var(--border-radius);
  }

  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:first-child,
  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:first-child>a {
    border-radius: var(--border-radius-tl-tr);
  }

  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:last-child,
  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item:last-child>a {
    border-radius: var(--border-radius-bl-br);
  }

  nav>.nav-container>.nav-item.has-dropdown>.dropdown>.dropdown-item>a {
    display: block;
    padding: var(--padding-5px);
    transition: background 0.15s;
  }

  /**
  * Sidebar
  */
  aside {
    margin: 0px 0px 5px 5px;
    max-width: 194px;
    min-width: 194px;
  }

  aside>.panel>.head {
    border: none;
  }

  aside>.panel>.body {
    border-radius: var(--border-radius-tl-tr);
    height: 415px;
    padding: 3px;
    text-align: center;
  }

  aside>.chat>.body {
    height: 415px;
    max-height: 415px;
    overflow: hidden;
    position: relative;
  }

  aside>.chat .message {
    font-size: 12px;
  }

  aside>.chat .message>.avatar {
    border-radius: var(--border-radius-tl-tr);
    height: 42px;
    padding: 2px;
    width: 42px;
  }

  aside>.chat .message>.avatar>a {
    display: block;
    border-radius: var(--border-radius-tl-tr);
  }

  aside>.chat .message>.avatar>a>img {
    border-radius: var(--border-radius-tl-tr);
    height: 42px;
    width: 42px;
  }

  aside>.chat .message>.username {
    float: left;
    margin-left: 50px;
    margin-top: -40px;
    text-align: left;
  }

  aside>.chat .message>.username>a>b {
    font-size: 12px;
  }

  aside>.chat .message>.master-title {
    float: right;
    margin-top: -36px;
    opacity: 0.5;
  }

  aside>.chat .message>.text {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 2px;
    margin-top: -2px;
  }

  aside>.chat .message>.text>div {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 3px;
  }

  aside>.chat .message.private>.text>div {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 3px;
  }

  aside>.chat .message:not(:last-child) {
    margin-bottom: 3px;
  }

  /**
  * Main
  */
  main {
    align-content: baseline;
    flex-basis: auto;
    width: calc(100% - 199px);
    min-height: 100%;
    z-index: 2;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

/**
 * Tablets
 */
@media screen and (min-width: 480px) and (max-width: 1099px) {
  div.BODY-CONTAINER {
    align-content: baseline;
    display: var(--display-flex);
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
  }

  /**
   * Header
   */
  header {
    display: flex;
    justify-content: center;
  }

  header .stats {
    order: 1;
  }

  header .user {
    order: 2;
  }

  header .roster {
    order: 3;
  }

  /**
   * Footer
   *
   */
  footer {
    width: 100%;
  }

  /**
   * Chat "Sidebar"
   * -- Needs hidden until toggled via some button?
   */
  aside {
    display: none;
    height: 99vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  aside *>.panel {
    border-radius: 0px;
    width: 210px;
  }

  aside #chatContent {
    height: 93vh;
    padding: 2px;
  }

  aside #chatContent>.message {
    font-size: 12px;
  }

  aside #chatContent>.message>.avatar {
    border-radius: var(--border-radius-tl-tr);
    height: 42px;
    padding: 2px;
    width: 42px;
  }

  aside #chatContent>.message>.avatar>a {
    display: block;
    border-radius: var(--border-radius-tl-tr);
  }

  aside #chatContent>.message>.avatar>a>img {
    border-radius: var(--border-radius-tl-tr);
    height: 42px;
    width: 42px;
  }

  aside #chatContent>.message>.username {
    float: left;
    margin-left: 50px;
    margin-top: -40px;
    text-align: left;
  }

  aside #chatContent>.message>.username>a>b {
    font-size: 12px;
  }

  aside #chatContent>.message>.master-title {
    float: right;
    margin-top: -36px;
    opacity: 0.5;
  }

  aside #chatContent>.message>.text {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 2px;
    margin-top: -2px;
  }

  aside #chatContent>.message>.text>div {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 3px;
    text-align: center;
  }

  aside #chatContent>.message.private>.text>div {
    border-radius: var(--border-radius-tr-br-bl);
    padding: 3px;
    text-align: center;
  }

  aside #chatContent>.message:not(:last-child) {
    margin-bottom: 3px;
  }

  /**
   * Navigation Sidebar
   */
  nav {
    align-content: center;
    height: var(--banner-height);
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 0px;
    z-index: 3;
  }

  nav>button {
    background: var(--color-sexary);
    border-radius: 6px;
    border: none;
    margin-left: 4px;
    margin-top: 80px;
    pointer-events: auto;
    text-align: center;
    width: 40px;
  }

  nav>button#chatButton {
    position: absolute;
    top: -46px;
  }

  nav>button:active,
  nav>button:focus,
  nav>button:hover {
    background: var(--color-sexary) !important;
  }

  nav>button>svg {
    fill: var(--color-white);
    height: 2em;
    padding-top: 3px;
    width: 2em;
    transition: 150ms ease-in-out;
  }

  nav>button>svg:hover {
    fill: var(--color-primary);
  }

  nav>.nav-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: width 150ms;
  }

  nav>.nav-container>.button {
    display: none;
    font-weight: bold;
    font-size: 18px;
  }

  nav>.nav-container>.button>a {
    display: block;
  }

  nav>.nav-container .nav-item {
    display: none;
    text-align: center;
  }

  nav>.nav-container .nav-item>a {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }

  nav>.nav-container .nav-item>a:hover {
    background: none;
  }

  nav>.nav-container .nav-item>.dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  nav>.nav-container .nav-item>.dropdown>.dropdown-item>a {
    display: block;
    padding: 3px;
  }

  nav>.nav-container .nav-item.has-dropdown:focus-within>.dropdown {
    opacity: 1;
    pointer-events: auto;
  }

  /**
   * Main content block
   */
  main {
    margin: 5px 0px;
    width: 98%;
  }

  /**
  * Custom Panel Styling
  */
  .panel {
    border-radius: var(--border-radius);
    padding: 2px;
  }

  .panel>div:last-child {
    border-radius: var(--border-radius-bl-br);
  }

  .panel>div:not(.head):not(:last-child) {
    border-bottom: 2px solid;
  }

  .panel.m-center {
    margin: var(--margin-center);
  }

  .panel.content {
    float: left;
    margin: 5px;
    width: calc(100% - 5px);
  }

  .panel.content>.body {
    text-align: center;
  }

  .panel.content>.body.padding-5px {
    padding: var(--padding-5px);
  }

  .panel>.head {
    border-radius: var(--border-radius-tl-tr);
    font-weight: bold;
    padding: var(--padding-3px);
    text-align: center;
  }

  .panel>.body:last-child {
    border-radius: var(--border-radius);
  }

  .panel>.body>.description {
    border: 2px solid;
    border-radius: var(--border-radius);
    margin: 0 auto 5px;
    padding: 5px;
    text-align: center;
    width: 80%;
  }

  .panel>.body>.nav {
    height: 29px;
    margin-bottom: 8px;
  }

  .panel>.body>.nav>div {
    border: 2px solid;
    border-top: none;
    border-radius: var(--border-radius-bl-br);
    float: left;
    margin-left: 15px;
    min-width: 120px;
    text-align: center;
    transition: background 150ms;
  }

  .panel>.body>.nav>div>a {
    display: block;
    padding: var(--padding-3px);
  }

  .panel>.body>.pagi {
    border-bottom: 2px solid;
    height: 30px;
  }

  .panel>.body>.pagi>div {
    float: left;
    height: auto;
  }

  .panel>.body>.pagi>div:not(:last-child) {
    border-right: 1px solid;
  }

  .panel>.body>.pagi>div>* {
    display: block;
    padding: var(--padding-5px);
  }

  .panel>.foot>form {
    margin: 0px;
  }

  .panel>.foot>form>input {
    border: none;
    border-radius: var(--border-radius-bl-br);
    height: 26px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    width: 186px;
  }
}

/**
 * Phones
 */
@media screen and (max-width: 479px) {
  header {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 40px;
    max-width: 100%;
  }

  footer {
    height: auto;
    width: 96.5%;
  }

  table {
    background: none;
    box-shadow: none;
    width: 90% !important;
    max-width: 90% !important;
  }

  table thead,
  table tbody,
  table tr,
  table td,
  table th {
    display: block;
  }

  table td {
    border: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100% !important;
  }

  table td::before {
    position: absolute;
    white-space: nowrap;
  }

  div .description {
    width: 80% !important;
  }

  div .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: auto !important;
    justify-content: center;
  }

  div .nav div {
    margin: 0 !important;
  }
}
